*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow:hidden;
}

.titulo{
    color:#094067;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;

}

header{
    width: 100%;
    height: 600px;
    background: url("https://images.pexels.com/photos/6479556/pexels-photo-6479556.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
background-size: cover;
background-attachment: fixed;
position: relative;
}

nav{
    text-align: right;
    padding:30px 50px 0 0;
}

nav a {
    color:black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
color:red;
    
}

header .texto-header{
    display: flex;
    height:430px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header .texto-header h1{
    font-size: 120px;
    color: white;
    text-shadow:2px 2px black;
    font-weight: bold;
}
header .texto-header h2{
    font-size: 50px;
    color: white;
    font-weight: 300;
    text-shadow:2px 2px black;
}

.wave {
    position:absolute;
    bottom:0;
    width: 100%;
}
main .sobre-nosotros{
     padding:30px 0 60px 0;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-texto{
    width: 48%;
}

.contenido-texto h3{
    margin-bottom: 15px;
    color:#094067;
    font-size: 25px;
}


.contenido-texto p {
    padding: 0 0 30px 15px ;
    font-weight: 300;
    text-align: justify;
}

.prod{
    background:#f2f2f2;
}

.galeria-prod{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-prod{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
}

.imagen-prod img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: scale(0);
    background: hsla(182, 12%, 45%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: auto;
}

.hover-galeria p {
    color:white;
}

.imagen-prod:hover .hover-galeria{
    transform: scale(1);
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background:#094067;
    display: flex;
    width: 46%;
    height: 230px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.6);
    overflow: hidden;
    margin-bottom: 20px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card .contenido-texto-card{
    width: 60%;
    color:white;
}

.cards .card .contenido-texto-card p {
    padding-top: 5px;
    font-weight: 300;
}

.about-service{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 300px;
    height:300px;
}

.servicio-ind h3 {
margin:10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

footer {
    background: #094067;
    padding:60px 0 30px 0;
    overflow: hidden;
    margin:auto;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #3da9fc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color:white;
    border-bottom: 3px solid #3da9fc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color:white;
}

.titulo-final{
    text-align: center;
    color:#fffffe;
    font-size: 24px;
    margin: 20px 0 0 0;
    
}

@media screen and (max-width: 900px){
     header{
    background-position: center;
}
     .contenedor-sobre-nosotros{
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .sobre-nosotros .contenido-textos{
         width: 90%;
     }


     .imagen-about-us {
         width: 90%;
     }

     .imagen-prod{
         width: 44%;
     }

     .cards{
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
    
     .cards .card {
         width: 90%;
     }

     .card .cards:first-child{
         margin-bottom: 30px;
     }

     .servicio-cont{
         justify-content: center;
         flex-direction: column;

     }

     .servicio-ind{
         width: 100%;
         align-items: center;
     }

     .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 20px;
    }

    .servicio-ind img {
        width: 90%;
    }

}

@media screen and (max-width: 500px){

  nav{
      text-align: center;
      padding:30px 0 0 0;
  }

nav a {
    margin-right: 5px;
}

header .texto-header h1{
    font-size: 35px;
}

header .texto-header h2 {
    font-size: 20px;
}

.imagen-about-us{
    margin-bottom: 60px;
    width: 99%;
}

.sobre-nosotros .contenido-texto {
    width: 95%;
}

.imagen-prod{
    width: 95%;
}

.cards .card{
     height: 450px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.cards .card img{
    width: 90px;
    height: 90px;
}

.contenedor-footer{
flex-direction: column;
}

.content-foo{
    text-align: center;
    margin-bottom: 20px;
}


.content-foo p{
    padding-bottom: 20px;
}

.titulo-final{
    font-size: 20px;
}

}