*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Variables*/

:root{
    --ff-primary:Verdana;
    --ff-secondary:arial black;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#d62828;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25);
}

@media (min-width: 800px){
:root{
    --fs-h1:4.5rem;
    --fs-h2:3.75rem;
    --fs-h3:1.5rem;
    --fs-body:1.125rem;
}

}

/*body and general styles*/

body{
    background:var(--clr-light);
    color:var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin:0;
}

strong{
    font-weight: var(--fw-bold);
}

img{
    display: block;
    max-width: 100%;
}

section{
    padding: 5em 2em;
}

h1,h2,h3{
    line-height: 1;
    margin:0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}

.title{
    margin-bottom: .25em;
}

.introtit{
    font-weight:var(--fw-reg);
}

.introtit strong{
    display: block;
}

.introimg{
    box-shadow: var(--bs);
}

.sub{
margin:0;
font-size: var(--fs-h3);
}

.introsub, .sobresub{
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
}

/*intro*/

.intro{
    position: relative;
}

@media (min-width:600px){
    .intro{
        display:grid;
        width: min-content;
        column-gap:1em;
        margin: 0 auto;
        grid-template-areas:
        "img title" 
        "img subtitle";
        grid-template-columns: min-content max-content ;
    }

.introimg{
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
}

.introsub{
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left:-1.5em;
    width: calc(100% + 1.5em);
}

}
/*header*/

#encabezado{
    padding: 25px;
    width: 100%;
    background:var(--clr-light);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    }
    
    #encabezado .logo{
    font-style: italic;
    font-size: 20px;
    }
    
    #encabezado .logo span{
        color:var(--clr-accent);
    }
    
    #encabezado nav {
        color:#000;
    }
    
    #encabezado nav a {
    font-size: 15px;
    text-decoration: none;
    padding:12px;
    text-align: center;
    color:#000;
    font-weight: var(--fw-bold);
    }
    
    #encabezado nav a:hover {
        color:var(--clr-accent);
    }

    
    @media (max-width: 630px){

        #encabezado nav a {
        font-size: 10px;
        }

        #encabezado .logo h3 {
            display: none;
        }
  }

    /*services */

    .servicios{
        background-color: var(--clr-dark);
        background-image: url(https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-size: cover;
        background-blend-mode: multiply;
        color: var(--clr-light);
        text-align: center;
    }

    .servtitulo{
        display:block;
        color:var(--clr-accent);
        position: relative;
    }
   
    .servtitulo::after{
        content:"";
        display: block;
        width: 3em;
        height: 1px;
        margin: 0.5em auto 1em;
        background: var(--clr-light);
    }

    .servicio{
        max-width: 500px;
        margin:0 auto;
    }

    .servicio h3{
        padding: 10px 0;
    }

    @media (min-width: 800px){
          .theservicios{
              display: flex;
              max-width: 1000px;
              margin: 0 auto;
          }

          .servicio + .servicio{
              margin-left: 2em;
          }
    }


/* who i am */

.sobremi{
    max-width: 1000px;
    margin:0 auto;
}

.imgsobremi{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
   .sobremi{
       display: grid;
       grid-template-columns:1fr 200px;
       grid-template-areas: 
       "title img"
       "subtitle img"
       "text img";
       column-gap:2em ;
   }

   .sobretit {
       grid-area: title;
   }

    .sobresub{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left:1em;
        padding-right: calc(200px+4em);
    }

   .imgsobremi{
    grid-area: img;
    position: relative;
    z-index: 2;
   }

}

/* my work */ 

.mitrabajo{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.mitrabsub{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.portfolioitem{
    background-image: var(--clr-accent);
    overflow: hidden;
}

.portfolioimagen{
    transition: 
    transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 250ms linear; 

}

.portfolioimagen:hover{
    transform: scale(1,2);
    opacity: .5;
}

/* footer */

.footer{
    background: #000;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;

}

.footer a{
    color: inherit;
    text-decoration: none;
}

.linkitem:hover, .socialitem:hover{
opacity: .7;
}

.social-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding:0;
    font-size:var(--fs-h3);
    font-weight: var(--fw-bold);
}

.socialitem{
    margin: 0 2em
}

.linkitem{
    padding:.5em;
}