*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* declarando las variables para trabajar colores */
:root{
    --main-color:#011B28;
    --seco-color: #023047;
    --let-color:#fffffe;
    --link-color:#ff8906;
    --cube-color:#125768;
    --btn-hover:#0C3A45;
}

/* estilo a la pagina */ 

#wrapper{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    overflow: hidden;
    margin:auto;
}

/*header y responsive nav-bar*/

header{
    height:auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    color: var(--let-color);
    background:var(--seco-color);
}

.logo {
    font-style: italic;
    font-size: 25px;
}

.menu-area ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu-area ul li a {
    text-decoration: none;
    color: var(--let-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: poppins;
}

.menu-area ul li a:hover {
    color:var(--link-color);
}

@media (max-width:900px) {
    nav {
        flex-direction:column;
        align-items:center;
        justify-content: space-evenly;
    }

    .menu-area ul {
        padding: 0;
    }

    .menu-area ul li {
        margin: 0 10px;
    }

    .menu-area ul li a {
        font-size: 15px;
    }
}


@media (max-width:650px) {
    .logo{
        margin-top: 0;
        font-size: 20px;
    }
    
    nav{
        padding:30px;
    }

    .menu-area ul li a {
        font-size: 12px;
    }

    .menu-area ul li a:hover {
        font-size: 12px;
    }
}

@media (max-width:400px) {
 
     header{
         height: fit-content;
     }

    .logo{
        font-size: 10px;

    }
    
    .nav {
        padding: 0 5px;
    }

    .menu-area ul li a {
        font-size:8px;
        margin: 0 2px;
    }

    .menu-area ul li a:hover {
        font-size: 8px;
    }
}

/*  container e imagen principal */

.container{
position: relative;
background-image: url(https://images.pexels.com/photos/356808/pexels-photo-356808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display:flex;
justify-content: space-between;
align-items: center;
height: 75vh;
}

.made{
    margin-left: 20px ;
    color:var(--let-color);
    width: 500px;
}

.made h1 {
    font-size: 120px;
    font-weight: 800;
    text-shadow:2px 2px #1f1f1f;
}

.made p {
    font-size: 50px;
    font-weight: 200;
    text-shadow:3px 3px #1f1f1f;
}


@media (max-width:900) {

.container {
    justify-content: flex-start;
}

.made {
    width: 350px;
    margin:0 20px;
}

.made h1 {
    font-size: 75px;
}

.made p {
    font-size: 30px;
}

}

@media (max-width:600px) {

    .container {
        justify-content:left ;
        height:25vh
    }
    
    .made {
        width: 200px;
        margin:0 20px;
    }
    
    .made h1 {
        font-size: 40px;
    }
    
    .made p {
        font-size: 10px;
        text-align: center;
        text-shadow:1px 1px #1f1f1f;
    }
    
}
    
@media (max-width:400px) {

    .container {
        justify-content: center;
        height:30vh;
    }
    
    .made {
        width: 200px;
        margin:auto;
    }
    
    .made h1 {
        font-size: 40px;
    }
    
    .made p {
        font-size: 12px;
    }
    
}

/* seccion de fotografias */

    .lasfotos {
        color:#fffffe;
        background-color: #011B28;
        height: auto;
        text-align: center;      
    }
    
    .lasfotos h1 {
        margin:auto;
        padding:10px;
        font-size: 85px;
        text-shadow:2px 2px #1f1f1f;
    }
    
    @media (max-width:1100px){
       
        .lasfotos{
            height:auto;
        }

        .lasfotos h1 {
            font-size: 45px;
        }
}
    
    @media (max-width:600px){
       
        .lasfotos{
            height:auto;
        }

        .lasfotos h1 {
            font-size: 20px;
        }
}
    

#fotografia {
    background-color:var(--main-color);
    height: auto;
     overflow: hidden;
}

#fotografia .sand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.foto {
    margin: 0 40px 30px;
} 

.foto img:hover{
    width: 110%;
    height: 150%;
    overflow: hidden;
    transition: all 0.2s ease-in;
    border:0px solid transparent;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.63),
    0 6.7px 5.3px rgba(0, 0, 0, 0.63),
    0 12.5px 10px rgba(0, 0, 0, 0.63),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.22)
  ;
}

@media (max-width:1000px){
  
    #fotografia {
        height: auto;     
    }

    #fotografia h1 {
        font-size: 80px;
    }
    
}

@media (max-width:600px){

    #fotografia {
        height: auto;    
    }

    #fotografia h1 {
        font-size: 40px;
    }
    
     .foto {
        margin: 10px;
     }

    .foto img {
        margin: 5px 5px;
       
    } 
}


@media (max-width:400px){

    #fotografia {
        height:auto;
    }

    #fotografia h1 {
        font-size: 40px;
    }
    
     .foto {
        margin: 10px;
     }

    .foto img {
        margin: 5px 5px;
    } 
}

/*tabla de precios */

.elprecio {
    color:var(--let-color);
    background-color: var(--seco-color);
    height: auto;
    text-align: center;
}

.elprecio h1 {
    margin:auto;
    padding:10px;
    font-size: 120px;
    text-shadow:2px 2px #1f1f1f;
}

@media (max-width:600px){

    .elprecio h1 {
        margin:auto;
        padding:10px;
        font-size: 80px;
    }
}

@media (max-width:400px){

    .elprecio h1 {
        margin:auto;
        padding:10px;
        font-size: 30px;
    }
}

#prizing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--seco-color);
}

.box{
    width:300px;
    height:400px;
    border: solid 1px transparent;
    border-radius: 8px;
    background-color:var(--cube-color);
    color:var(--let-color);
    overflow: hidden;
    text-align: center;
    margin: 20px 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    
}

.box .price {
    background-color:var(--link-color);
    color: var(--seco-color);
    font-size: 20px;
    font-weight: bold;
}

.box ul{
  font-size: 30px;
  list-style: none; 
  padding:20px 10px;
}

@media (max-width:450px){
    .box {
        width: auto;
        height: auto;
       }

     .box .price {
         font-size: 18px;
     }

     .box ul{
         font-size: 15px;
         padding:10px 5px;
     }

}


#contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--seco-color);

}

.contentbox{
    width:400px;
    height:auto;
    border: solid 1px transparent;
    border-radius: 8px;
    background:var(--cube-color);
    color:var(--let-color);
    overflow: hidden;
    text-align: center;
    margin: 20px 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    
}


.contentbox .ct {
    background-color: var(--link-color);
    color: var(--let-color);
    font-size: 20px;
    font-weight: bold;
    margin:20px 30px;
    padding:15px 20px;
    border: 1px solid transparent;
    border-radius: 12px;
    width: auto;
}
.contentbox p{
         padding:20px 15px 0px 15px;
}


 .contentbox .ct a {
    text-decoration: none;
    color: var(--let-color);
 }

 .contentbox .ct:hover {
    text-decoration: none;
    background-color: #FFA033 ;
 }

 .contentbox .ct a:hover {
       color: var(--cube-color);
 }


 
footer {
    background-color:var(--main-color);
    text-align: center;
    padding: 20px;
    color:#a7a9be;
    font-size: 20px;
    font-style:oblique;
 }

footer h2 {
   
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

@media (max-width:450px){
    
    footer {
        font-size: 8px;
           }

}
